body {
    background-color: #ffffff;
}

.container-game {
    padding: 15px;
    background-color: #fdfdfd;
    margin: auto;
}

.container-person {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
}

.personGood,
.personEvil {
    height: 300px;
}

.personGood img,
.personEvil img {
    height: 290px;
    width: 290px;
}



.fightarea {
    display: flex;
    gap: 20px;
}

#char, 
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}